<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	<!-- 基本 -->
	<context:component-scan base-package="com.spring.annotation" >
	</context:component-scan> 
	<!-- 除去哪个 type="annotation"-->
	<!--<context:component-scan base-package="com.spring">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service"/>
	</context:component-scan> -->
	<!-- 除去哪个 type="assignable"-->
	<!--<context:component-scan base-package="com.spring">
		<context:exclude-filter type="assignable" expression="com.spring.annotation.UserServiceImpl"/>
	</context:component-scan> -->
	<!-- 只包含哪个与user-default-filters联合使用  type="annotation"-->
	<!--<context:component-scan base-package="com.spring" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan> -->
	<!-- 只包含哪个与user-default-filters联合使用   type="assignable"-->
	<!--<context:component-scan base-package="com.spring" use-default-filters="false">
		<context:include-filter type="assignable" expression="com.spring.annotation.UserController"/>
	</context:component-scan> -->
	
</beans>
